<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkAFDcyck42KxIJ4AbsR1rLLzIw_7Bh7I</string>
	<key>GCM_SENDER_ID</key>
	<string>778498971446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.equipoEstrella</string>
	<key>PROJECT_ID</key>
	<string>equipo-estrella</string>
	<key>STORAGE_BUCKET</key>
	<string>equipo-estrella.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778498971446:ios:83303f15939bd380dc8597</string>
</dict>
</plist>